body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: .3em;
color: blueviolet;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

table {padding: 2em}

th {color:azure font-size 20px; border: 10pt; padding: 15px;
}

thead{background-color: slateblue;
  color: snow;}

  td {
    border-bottom: 1px solid black;
    padding: 0 0.5em;
  }

   .Tennis {
      color: blueviolet;
    }
    
    .open {
      color: crimson;
    }

    .Painting { 
      color: indigo; font-size: 14px; font-weight: 900;
    }

    .Work {
      color: orange; font-weight: bolder;
    }

    .Class {
      color: teal; font-weight: initial;
    }

    .DOW {
    color: slateblue; font-weight: 900; font-size: 20px;
    }

    styled {
      border: 3;
      line-height: 25;
      padding: 0 20px;
      font-size: 6rem;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      border-radius: 10px;
      background-color: royalblue;
      background-image: linear-gradient(to top left,
                                        rgba(0, 0, 0, .2),
                                        rgba(0, 0, 0, .2) 30%,
                                        rgba(0, 0, 0, 0));
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                  inset -2px -2px 3px rgba(0, 0, 0, .6);
  }
  
  .styled:hover {
      background-color: rgb(0, 247, 255);
  }
  
  .styled:active {
      box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                  inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

.multi-word {color: salmon
}
